version: 2.1

orbs:
  go: circleci/go@0.2.0

commands:
  get-coverage-tools:
    description: "Get coverage tools"
    steps:
      - run: go get -u github.com/schrej/godacov
      - run: go get -u github.com/haya14busa/goverage
  test:
    description: "Run tests and store results on CircleCI"
    steps:
      - run: mkdir -p /tmp/test-results
      - run: gotestsum --junitfile /tmp/test-results/unit-tests.xml --format standard-verbose
      - store_test_results:
          path: /tmp/test-results
  coverage:
    description: "Generate and upload coverage to Codacy"
    steps:
      - run: goverage -v -coverprofile=coverage.out ./...
      - run: godacov -t $CODACY_PROJECT_TOKEN -r ./coverage.out -c $CIRCLE_SHA1

jobs:
  build:
    executor: go/default
    steps:
      - checkout
      - go/load-cache
      - go/mod-download
      - get-coverage-tools
      - go/save-cache
      - test
      - coverage
